body{
    margin: 0;
}
#main_header{
    height: auto;
    background: url('./images/bg.jpg');
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 25px;
}
header nav a{
    text-decoration: none;
    align-items: center;
    color: whitesmoke;
    text-transform: uppercase;
    font-family:Poppins;
    font-size: 20px;
    font-weight: 500;
    padding: 0 15px;
    letter-spacing: 3px;
}
header nav a:hover{
    color: cyan;
    transition: 2s ease;
}
.maincontent_section{
    margin-top: 90px ;
}
h4{
    font-family: Poppins;
    color: cyan;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}
.main_heading{
    font-family: Poppins;
    font-weight: 500;
    color: whitesmoke;
    letter-spacing: 2px;
    font-size: 30px;
}
span{
    font-size: 30px;
    font-weight: 900;
}
.learn_button{
    background-color: transparent;
    border:3px solid cyan;
    padding: 15px 40px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 40px;
}
.learn_button:hover{
    transform: scale(1.1);
    transition: .4s ease ;
}
.imgcontainer{
background-color: rgb(233, 233, 233);
height: auto;
text-align:center;
padding: 40px 0;
}
img{
    height: 70px;
    padding: 0 30px;
    opacity: .8;
}
.main_container{
    height:300px;
    padding:20px 100px;
}
.parahead1{
    margin: 0;
    font-family: Poppins;
    font-weight:bold;
    font-size: 30px;
    margin-bottom: 5px;
}
.para1{
    font-size:18px;
    color:rgb(118, 118, 118);
    font-family: Poppins;
    line-height:30px;
    padding-bottom: 10px;
}
.footer_container{
    height: 50px;
    text-align: center;
}
.footer_para{
    font-family: Poppins;
    font-weight: 600;
    font-size: .9em;
}